# Node
**/node_modules/**
**/.expo/**
**/.expo-shared/**
**/.DS_Store

# Builds/archives
**/*.tgz
**/*.zip
**/dist/**
**/build/**
**/.env*
help-center-app/.env*
help-center-app/.env.local
help-center-app/.env.development.local

# Logs
**/*.log

